services:
  bot:
    image: notes-telegram-bot
    environment:
      - TELEGRAM_APITOKEN=${TELEGRAM_APITOKEN}
      - TELEGRAM_FROMID=${TELEGRAM_FROMID}
      - TELEGRAM_DIR=/var/notes
      - TELEGRAM_JSON=0
      - TELEGRAM_PREFIX=note
    volumes:
      - notes-data:/var/notes
  syncthing:
    image: syncthing/syncthing
    hostname: ${SYNCTHING_HOSTNAME}
    environment:
      - PID=1000
      - PGID=1000
    ports:
      - 8384:8384
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    volumes:
      - syncthing-config:/var/syncthing
      - notes-data:/data
volumes:
  syncthing-config:
  notes-data:
