---
title: {{ .Content | title }}
date: {{ .Message.Date | unixDateTime }}
{{if .Message.ForwardOrigin }}origin: https://t.me/{{if .Message.ForwardOrigin.MessageOriginChannel.Chat.Username }}{{ .Message.ForwardOrigin.MessageOriginChannel.Chat.Username }}{{ else }}{{ .Message.ForwardOrigin.MessageOriginChannel.Chat.Title }}{{ end }}/{{ .Message.ForwardOrigin.MessageOriginChannel.MessageID }}
{{ end }}{{if .Message.ReplyToMessage }}Reply: {{ .Global.Prefix }}{{ .Message.ReplyToMessage.ID}}.md
{{ end }}---
{{if .Message.Photo }}![]({{ .Message.Photo | getSizedPhoto | getFileName }})

{{ end }}{{if .Message.Video }}![]({{ .Message.Video.Thumbnail.FileID | getFileName }})

{{ end }}{{if .Message.Voice }}![]({{ .Message.Voice.FileID | getFileName }})

{{ end }}{{if .Message.Animation }}![]({{ .Message.Animation.Thumbnail.FileID | getFileName }})

{{ end }}{{ .Content }}